# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/SomniumTest/Debug/*.tlog
/SomniumTest/Debug/*.lastbuildstate
/SomniumTest/Debug/*.log
/SomniumTest/Debug/*.obj
/SomniumTest/Debug/*.idb
/SomniumTest/Debug/*.pdb
*.log
*.sdf
/SomniumTest/log.txt
